{% extends 'base.html' %}
{% load static %}

{% block title %}Mahalliy xabarlar{% endblock title %}

{% block content %}

    {% for news in sport_news_list %}
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <a href="{{ news.get_absolute_url }}"><img style="margin: 1rem" src="{{ news.image.url }}" alt="{{ news.title }}" width="100%"></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h3 class="text-center">
                        <a class="text-success" href="{% url 'news_detail' news.slug %}">{{ news.title }}</a>
                    </h3>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    {% endfor %}


{% endblock content %}